<footer>
    <p>Pinterest Clone built by <a href ="https://www.freecodecamp.com/reecelangerock"><b>Reece Langerock</b></a></p>
    <p>This is a FCC Project fulfilling the user stories listed <a href ="https://www.freecodecamp.com/challenges/build-a-pinterest-clone"><b>here</b></a></p>
    <p>Check out the Github Repo <a href ="https://github.com/ReeceLangerock/Pinterest-Clone"><b>here</b></a></p>
</footer>
