<nav class="menu">
    <ul>
        <div class = "logo"><a href = '../'><img src = "../pin.png"></a></div>
        <a href='../'>
            <li class="navItem">Home</li>
        </a>
        <a href='../login'>
            <li class="navItem">Login</li>
        </a>
    </ul>
</nav>
