<nav class="menu">
    <ul>
        img
        <a href='../'>
            <li class="navItem">Home</li>
        </a>
        <a href='../login'>
            <li class="navItem">Login</li>
        </a>
    </ul>
</nav>
